<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cloudit</display-name>
  <welcome-file-list>
    <welcome-file>views/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.cloudit.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateQrServlet</display-name>
    <servlet-name>CreateQrServlet</servlet-name>
    <servlet-class>com.cloudit.CreateQrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateQrServlet</servlet-name>
    <url-pattern>/createqr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewQrServlet</display-name>
    <servlet-name>ViewQrServlet</servlet-name>
    <servlet-class>com.cloudit.ViewQrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewQrServlet</servlet-name>
    <url-pattern>/viewqr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.cloudit.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.cloudit.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScanQrServlet</display-name>
    <servlet-name>ScanQrServlet</servlet-name>
    <servlet-class>com.cloudit.ScanQrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScanQrServlet</servlet-name>
    <url-pattern>/scanqr</url-pattern>
  </servlet-mapping>
</web-app>